# http://eslint.org/docs/user-guide/configuring.html#ignoring-files-and-directories

# node_modules ignored by default

extension/scripts/3rdparty/
extension/backgroundScriptsAPIBridge.js
extension/contentScriptsAPIBridge.js

extension-chrome-firefox/
extension-edge/
