# http://eslint.org/docs/user-guide/configuring.html#ignoring-files-and-directories

# node_modules ignored by default
**/node_modules

extension/scripts/3rdparty/

extension-chrome/
extension-edge/
extension-firefox/
extension-opera/
