{
    // http://eslint.org/docs/user-guide/configuring.html
    // https://gist.github.com/cletusw/e01a85e399ab563b1236
    "env": {
        "es2021": true, // https://eslint.org/docs/user-guide/configuring/language-options#specifying-environments
                        // This automatically sets the ecmaVersion parser option (parserOptions) to 12
        "browser": true,
        "node": true
    },

    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },

    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "import"
    ],

    "rules": {
        "import/no-unresolved": [
            "error",
            {
                "commonjs": true,
                "amd": true
            }
        ],
        // https://eslint.org/docs/latest/rules/no-restricted-globals
        "no-restricted-globals": [
            "error",
            {
                "name": "event",
                "message": "Use local parameter instead."
            }
        ],
        "indent": ["error", 4, { "SwitchCase": 1, "ignoreComments": true }],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "always"],
        // http://eslint.org/docs/rules/quotes
        "quotes": "off",
        "no-console": "off",
        "no-debugger": "off",
        "no-shadow": "off"
    }
}
