.magicss-dialog-search-icons {
    z-index: 2147483646 !important;
}

.magicss-dialog-search-icons {
    direction: ltr !important;      /* https://www.google.ae/ */
    line-height: normal !important; /* https://code.visualstudio.com/ - Useful in various children elements */
}

.magicss-dialog-search-icons * {
    font-family: Arial, sans-serif;
}

.magicss-dialog-search-icons .magicss-cog-wheel-icon {
    background-image: var(--cog-wheel-icon) !important;
    background-size: contain;
    width: 16px;
    min-width: 16px; /* When rendered on a very low width page, the "width" styling isn't being respected, probably
                        because the parent element is set as "display: flex". The "min-width" style is required to fix
                        that. */
    height: 16px;
    margin-top: 6px;
    margin-left: 15px;
    cursor: pointer;

    opacity: 0.5;
}

.magicss-dialog-search-icons .magicss-cog-wheel-icon:hover {
    opacity: 1;
}

/* FIXME: Make this selector specific to Magic CSS */
#react-joyride-step-0  {
    direction: ltr;                                        /* https://www.google.ae/ */
}

/* FIXME: Make this selector specific to Magic CSS */
#react-joyride-step-0 .react-joyride__tooltip button[data-action=primary] {
    font-weight: 400 !important;                           /* https://code.visualstudio.com/ */
    font-family: Arial, sans-serif !important;             /* https://css-tricks.com/ */
}
/* FIXME: Make this selector specific to Magic CSS */
#react-joyride-step-0 .react-joyride__tooltip button[data-action=primary]:focus {
    outline: -webkit-focus-ring-color auto 1px !important; /* https://www.smashingmagazine.com/ */
}
/* FIXME: Make this selector specific to Magic CSS */
#react-joyride-step-0 .react-joyride__tooltip button[data-action=close] {
    font-family: Arial, sans-serif !important;             /* https://getbootstrap.com/ */
}

.magicss-dialog-search-icons h2 {
    padding-left: 0;  /* https://lesscss.org/ */
    max-width: unset; /* https://www.udemy.com/ */
    font-family: Arial, sans-serif !important; /* https://jquery.com/ */
}

.magicss-dialog-search-icons input[type=text] {
    box-sizing: content-box; /* https://visualstudio.microsoft.com/ */
}

.magicss-dialog-search-icons input[type=text]:not(.browser-default) {
    margin-bottom: 0; /* https://materializecss.com/ */
}

.magicss-dialog-search-icons fieldset {
    width: unset; /* https://www.mozilla.org/en-US/ */
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #3f51b5 !important; /* https://css-tricks.com/ */
    border-width: 2px !important;     /* https://css-tricks.com/ */
}

.magicss-dialog-search-icons a {
    text-underline-offset: unset !important; /* https://moderncss.dev/ */
}
