#MagiCSS-bookmarklet {
    text-align: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#MagiCSS-bookmarklet * {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.magicss-point-and-click-activated#MagiCSS-bookmarklet {
    pointer-events: none !important;
    opacity: 0 !important;
}

/* Begin: Font family */
.alert-note-text,
.alert-note-text *,
.magic-css-container *,
.magic-css-ui *,
.CodeMirror-hints *,
.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
    font-family: unset;
}
/* End */

/* Begin: Text alignment */
#MagiCSS-bookmarklet *,
.alert-note-text,
.alert-note-text *,
.magic-css-ui,
.magic-css-ui *,
.tooltipster-content *,
.tooltipster-base ul li a,
.CodeMirror-hints *,
.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
    text-align: initial;
}
/* End */

/* Begin: Line height */
#MagiCSS-bookmarklet *,
.alert-note-text,
.alert-note-text *,
.magic-css-ui,
.magic-css-ui *,
.tooltipster-content *,
.tooltipster-base ul li a,
.CodeMirror-hints *,
.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
    line-height: 1.2 !important;
}
/* End */

/* Begin: CSS changes related to font-size */
#MagiCSS-bookmarklet *,
.alert-note-text,
.alert-note-text *,
.magic-css-ui,
.magic-css-ui *,
.tooltipster-content *,
.tooltipster-base ul li a,
.CodeMirror-hints *,
.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
    /* Setting this value flexibly in JS, to fix https://github.com/webextensions/live-css-editor/issues/12 */
    font-size: 12px !important;
}

.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
    background-position-y: center;
}
.CodeMirror-lint-marker-error,
.CodeMirror-lint-marker-warning {
    background-size: contain;
}
/* End: CSS changes related to font-size */

/* TODO: Vertical middle aligning of background color shown inside CodeMirror (increase the text font size to see the current effect) */

/* Don't highlight Magic CSS components when the user types a selector which matches them,
   similarly, exclude them from the selector match(es) count */
#MagiCSS-bookmarklet,
#MagiCSS-bookmarklet *,
#topCenterAlertNote,
#topCenterAlertNote * {
    outline: 0 !important;
}

#MagiCSS-bookmarklet .magic-css-header {
    display: flex;
}

#MagiCSS-bookmarklet .magic-css-header .magic-css-header-left-section {
    margin-right: auto;
    margin-top: 7px;
}

#MagiCSS-bookmarklet .editor-icon {
    width: 16px;
    height: 16px;

    /* For vertical middle aligning using flex */
    margin-top: auto;
    margin-bottom: auto;

    background-repeat: no-repeat;
}

#MagiCSS-bookmarklet .editor-icon.editor-icon-close,
#MagiCSS-bookmarklet .editor-icon.editor-icon-close img {
    width: 20px;
    height: 20px;
}

.magic-css-header .magicss-title {
    display: flex;
    background-color: #152c4a;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-size: 15px;
    cursor: default;
}

.magic-css-header .magicss-title div:first-child {
    margin-left: 5px;
}

.magic-css-header .magicss-title div:last-child {
    margin-right: 5px;
}

.magicss-editor-is-small .magicss-title {
    text-transform: uppercase;
}
.magicss-editor-is-small .hide-when-magicss-editor-is-small {
    display: none;
}

.magicss-mode-button {
    float: left;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}
#MagiCSS-bookmarklet .magicss-mode-button {
    line-height: 1.7 !important;
}

.magicss-mode-css,
.magicss-mode-less,
.magicss-mode-sass,
.magicss-mode-file {
    font-weight: bold;
    color: #ffffff;
    opacity: 0.66;
    -webkit-transform: translateZ(0);   /* https://stackoverflow.com/questions/7582567/css-opacity-change-on-hover-flickering/7623025#7623025 */
}

.magicss-mode-css:hover,
.magicss-mode-less:hover,
.magicss-mode-sass:hover,
.magicss-mode-file:hover,
.magicss-selected-mode-css .magicss-mode-css,
.magicss-selected-mode-less .magicss-mode-less,
.magicss-selected-mode-sass .magicss-mode-sass,
.magicss-selected-mode-file .magifile-mode-file {
    opacity: 1;
}

.magicss-selected-mode-css .magicss-mode-css,
.magicss-selected-mode-less .magicss-mode-less,
.magicss-selected-mode-sass .magicss-mode-sass,
.magicss-selected-mode-file .magicss-mode-file {
    opacity: 1;
    color: #ff0;
}

#MagiCSS-bookmarklet .file-mode-is-beta {
    display: none;
    position: absolute;
    top: -27px;
    left: 20px;
    /* background-color: #f9edbe; */
    background-color: lightgreen;
    /* border: 2px solid #eb7; */
    border: 2px solid darkgreen;
    color: #000;
    border-radius: 5px;
    white-space: nowrap;
    font-weight: bold;
}
#MagiCSS-bookmarklet .magicss-mode-file:hover .file-mode-is-beta {
    display: block;
}

.full-screen-editor .magicss-mode-file {
    display: none !important;
}

.magicss-command-palette {
    background-image: var(--icon-plus-yellow) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.magicss-external-window,
.magicss-external-window-is-not-available-for-mode {
    background-image: var(--icon-external-window-yellow) !important;
    background-size: contain;
    background-repeat: no-repeat;
}
.magicss-selected-mode-file .magicss-external-window {
    display: none;
}
.magicss-selected-mode-css  .magicss-external-window-is-not-available-for-mode,
.magicss-selected-mode-less .magicss-external-window-is-not-available-for-mode,
.magicss-selected-mode-sass .magicss-external-window-is-not-available-for-mode {
    display: none;
}

.magicss-internal-window {
    background-image: var(--icon-internal-window-yellow) !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.magicss-disable-css {
    background-image: var(--icon-ban-yellow) !important;
    background-size: contain;
}
.indicate-disabled#MagiCSS-bookmarklet .magicss-disable-css {
    /* In some other scenarios, we use:
           "drop-shadow(0px 0px 7px #ff0)"
       But, for this icon, it looks a little calm with:
           "drop-shadow(0px 0px 10px #ff0)" */
    -webkit-filter: drop-shadow(0px 0px 10px #ff0);
    filter: drop-shadow(0px 0px 10px #ff0);
}

.magicss-point-and-click {
    background-image: var(--icon-point-and-click-yellow) !important;
}
.full-screen-editor .magicss-point-and-click {
    display: none !important;
}

.magicss-watch-and-reload-link-tags,
.magicss-stop-watch-and-reload-link-tags {
    background-size: 16px;
    background-repeat: no-repeat;
}

.full-screen-editor .magicss-watch-and-reload-link-tags {
    display: none !important;
}

.magicss-watch-and-reload-link-tags {
    background-image: var(--icon-watch) !important;
}
.li-magicss-watch-and-reload-link-tags {
    display: none;
}
.tooltipster-watching-css-files-disabled .li-magicss-watch-and-reload-link-tags {
    display: block;
}

.magicss-stop-watch-and-reload-link-tags {
    background-image: var(--icon-watch-yellow) !important;
}
.li-magicss-stop-watch-and-reload-link-tags {
    display: none;
}
.tooltipster-watching-css-files-enabled .li-magicss-stop-watch-and-reload-link-tags {
    display: block;
}

.magicss-cache-image-to-prevent-CSP-problem-point-and-click-hover,
.magicss-point-and-click-activated .magicss-point-and-click {
    -webkit-filter: none;
    filter: none;
}

.magicss-point-and-click-activated .magicss-point-and-click {
    -webkit-filter: drop-shadow(0px 0px 10px #ff0);
    filter: drop-shadow(0px 0px 7px #ff0);
}

.magicss-reapply-styles {
    background-image: var(--icon-pin) !important;
    background-size: 16px 16px;
}
.magic-css-apply-styles-automatically .magicss-reapply-styles {
    -webkit-filter: drop-shadow(0px 0px 10px #ff0);
    filter: drop-shadow(0px 0px 7px #ff0);
}
/* When the styles are disabled, then also Magic CSS doesn't reapply styles */
.indicate-disabled .magicss-reapply-styles {
    display: none;
}

.magicss-beautify {
    background-image: var(--icon-smile) !important;
}

.icon-chrome-web-store,
.icon-microsoft-store,
.icon-firefox-add-ons-store,
.icon-opera-add-ons-store {
    background-size: 16px;
}

:root {
    /* Source: chrome-extension://__MSG_@@extension_id__/ui-images/filename.ext */

    --icon-plus-yellow: url("../../ui-images/icon-plus-yellow_edited.svg");

    --icon-pin: url("../../ui-images/pin_edited.svg");

    --icon-external-window-yellow: url("../../ui-images/link-external_edited-yellow.svg");

    --icon-internal-window-yellow: url("../../ui-images/link-internal_edited-yellow.svg");

    --icon-ban-yellow: url("../../ui-images/ban_edited-yellow.svg");

    --icon-reload: url("../../ui-images/reload_edited-yellow.svg");

    --icon-point-and-click-yellow: url("../../ui-images/point-and-click_edited-yellow.svg");

    --logo-thenounproject: url("../../ui-images/logo-thenounproject.svg");

    --logo-chrome-web-store: url("../../ui-images/logo-chrome-web-store.svg");

    --logo-chrome-gray: url("../../ui-images/logo-chrome-grayscale_edited.svg");

    --logo-microsoft-store: url("../../ui-images/logo-microsoft.svg");

    --logo-opera: url("../../ui-images/logo-opera.svg");

    --logo-mozilla-add-ons-store-green: url("../../ui-images/logo-mozilla-add-ons-store.svg");

    --logo-mozilla-add-ons-store-black: url("../../ui-images/logo-mozilla-add-ons-store_edited-black.svg");

    --logo-chrome: url("../../ui-images/logo-chrome.svg");

    --logo-edge-gray: url("../../ui-images/logo-microsoft-edge-chromium_edited.svg");

    --logo-mozilla-addons-gray: url("../../ui-images/logo-mozilla-addons_edited.png");

    --icon-less-mirror-image: url("../../ui-images/logo-extension-mirror-image.png");

    --icon-smile: url("../../ui-images/icon-smile.svg");

    --icon-compress: url("../../ui-images/compress.svg");

    --icon-copy: url("../../ui-images/copy.svg");

    --icon-hash: url("../../ui-images/hash_edited.svg");

    --icon-line-wrap: url("../../ui-images/line-wrap_edited.svg");

    --icon-ban: url("../../ui-images/ban_edited.svg");

    --icon-ban-white: url("../../ui-images/ban_edited-white.svg");

    --icon-warning: url("../../ui-images/warning.svg");

    --logo-twitter: url("../../ui-images/logo-twitter-black.png");

    --logo-facebook: url("../../ui-images/logo-facebook_edited.svg");

    --logo-github: url("../../ui-images/logo-github_edited.png");

    --icon-settings: url("../../ui-images/icon-settings.svg");

    --icon-reload-all: url("../../ui-images/reload_edited.svg");

    --icon-watch: url("../../ui-images/watch_edited.svg");

    --icon-watch-yellow: url("../../ui-images/watch_edited-yellow.svg");

    --small-settings-icon: url("../../ui-images/settings-server_edited.svg");

    --cog-wheel-icon: url("../../ui-images/settings-server.svg");


    --magic-css-bg-color: rgba(42, 74, 117, 1);
    --magic-css-bg-color-for-borders: rgba(32, 54, 100, 1);

    --magic-css-bg-color-for-hover: rgba(22, 34, 70, 1);
}

.magicss-command-palette-overlay .atom-suggestion * {
    background-repeat: no-repeat;
}

.magicss-use-logo-thenounproject-gray {
    background-image: var(--logo-thenounproject) !important;
}

.magicss-use-logo-microsoft-store-gray {
    background-image: var(--logo-microsoft-store) !important;
    filter: contrast(1) brightness(0.1) grayscale(1);
}

.magicss-use-logo-firefox-add-ons-store-gray {
    background-image: var(--logo-mozilla-add-ons-store-black) !important;
}

.magicss-use-logo-opera-add-ons-store-gray {
    background-image: var(--logo-opera) !important;
    filter: grayscale(1) brightness(0.8) contrast(1.5);
}

.magicss-use-icon-chrome {
    background-image: var(--logo-chrome-gray) !important;
}

.magicss-use-icon-edge-gray {
    background-image: var(--logo-edge-gray) !important;
}

.magicss-use-icon-firefox-gray {
    background-image: var(--logo-mozilla-addons-gray) !important;
}

.magicss-use-logo-opera-gray {
    background-image: var(--logo-opera) !important;
    filter: grayscale(1) brightness(0.8) contrast(1.5);
}

.magicss-use-icon-beautify-gray {
    background-image: var(--icon-smile) !important;
}

.magicss-use-icon-minify-gray {
    background-image: var(--icon-compress) !important;
}

.magicss-use-icon-copy-gray {
    background-image: var(--icon-copy) !important;
}

.magicss-use-icon-show-line-numbers-gray {
    background-image: var(--icon-hash) !important;
    background-size: 11px !important;
    background-position: 1px 2px !important;
}

.magicss-use-icon-hide-line-numbers-gray {
    background-image: var(--icon-ban-white), var(--icon-hash) !important;
    background-position: 7px 7px, 1px 2px !important;
    background-size: 9px, 11px !important;
}

.magicss-use-icon-enable-line-wrap-gray {
    background-image: var(--icon-line-wrap) !important;
    background-size: 16px 11.2px !important;
    background-position: 0px 3px !important;
}

.magicss-use-icon-disable-line-wrap-gray {
    background-image: var(--icon-ban-white), var(--icon-line-wrap) !important;
    background-position: 7px 7px, 0px 3px !important;
    background-size: 9px, 16px 11.2px !important;
}

.magicss-use-icon-enable-css-linting-gray {
    background-image: var(--icon-warning) !important;
}

.magicss-use-icon-disable-css-linting-gray {
    background-image: var(--icon-ban-white), var(--icon-warning) !important;
    background-position: 7px 7px, 0px 0px !important;
    background-size: 9px, 16px !important;
}

.magicss-use-logo-twitter-gray {
    background-image: var(--logo-twitter) !important;
}

.magicss-use-logo-facebook-gray {
    background-image: var(--logo-facebook) !important;
}

.magicss-use-logo-github-gray {
    background-image: var(--logo-github) !important;
}

.icon-chrome-web-store {
    background-image: var(--logo-chrome) !important;
}

.icon-microsoft-store {
    background-image: var(--logo-microsoft-store) !important;
}
.more-icons.icon-microsoft-store {
    background-size: 14px !important;
    background-position: 8px 50% !important;
}

.icon-firefox-add-ons-store {

    background-image: var(--logo-mozilla-add-ons-store-green) !important;
}
.more-icons.icon-firefox-add-ons-store {
    background-image: var(--logo-mozilla-add-ons-store-black) !important;
    background-position: 8px 50% !important;
}

.icon-opera-add-ons-store {
    background-image: var(--logo-opera) !important;
}

/* Begin: More icons */
.magic-css-tooltipster.tooltipster-default {
    z-index: 2147483600 !important;
}

.magic-css-tooltipster.tooltipster-default .tooltipster-box {
    background-color: var(--magic-css-bg-color);
}
.magic-css-tooltipster.tooltipster-top .tooltipster-arrow-background {
    border-top-color: var(--magic-css-bg-color);
}
.magic-css-tooltipster.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: var(--magic-css-bg-color);
}

.magic-css-tooltipster.tooltipster-default .tooltipster-box {
    border-color: var(--magic-css-bg-color-for-borders) !important;
}
.magic-css-tooltipster .tooltipster-arrow-border {
    border-top-color: var(--magic-css-bg-color-for-borders) !important;
    border-bottom-color: var(--magic-css-bg-color-for-borders) !important;
}

.magic-css-tooltipster .tooltipster-content::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.15);
    width: 10px;
}
.magic-css-tooltipster .tooltipster-content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.65);
    box-shadow: inset 0 0 2px rgb(91, 91, 91);
}

.magic-css-tooltipster.tooltipster-default .tooltipster-content {
    padding: 0;
    margin: 0;
    line-height: 1.4;
}
.magic-css-tooltipster .tooltipster-content ul {
    padding: 0;
    margin: 0;
    list-style-position: initial;
}

.magic-css-tooltipster .tooltipster-content ul li {
    padding: 0;
}

.magic-css-tooltipster .tooltipster-content ul li:hover {
    background-color: var(--magic-css-bg-color-for-hover) !important;
}

.magic-css-tooltipster.tooltipster-base ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    font-family: Arial;
    display: block;
    padding: 3px 10px 1px 25px;
}

.magic-css-tooltipster .tooltipster-content > ul li a {
    background-position: 7px 50%;
}

.more-icons {
    background-repeat: no-repeat !important;
    padding-left: 30px !important;
    min-height: 20px;
    text-align: left;
    background-size: 16px !important;
}

.magicss-less-or-sass-to-css {
    background-image: var(--icon-less-mirror-image) !important;
}

.magic-css-tooltipster.tooltipster-base ul li a.magicss-less-or-sass-to-css,
.magic-css-tooltipster.tooltipster-base ul li a.magicss-css-to-less {
    opacity: 0.35;
}

.magic-css-tooltipster.tooltipster-base.tooltipster-selected-mode-less ul li a.magicss-less-or-sass-to-css,
.magic-css-tooltipster.tooltipster-base.tooltipster-selected-mode-sass ul li a.magicss-less-or-sass-to-css,
.magic-css-tooltipster.tooltipster-base.tooltipster-selected-mode-css ul li a.magicss-css-to-less {
    opacity: 1;
}

.magicss-reload-css-resources.editor-icon {
    background-position: 2px 0px !important;
}

.magicss-reload-css-resources {
    background-image: var(--icon-reload) !important;
    background-size: 12px !important;
    background-repeat: no-repeat;
}

.magicss-reload-css-resources:hover {
    filter: none;
}

.watching-css-files .magicss-reload-css-resources {
    -webkit-filter: drop-shadow(0px 0px 7px #ff0);
    filter: drop-shadow(0px 0px 7px #ff0);
}

.magicss-reload-all-css-resources {
    background-image: var(--icon-reload-all) !important;
    background-size: 12px !important;
    background-position: 9px 50% !important;
    background-repeat: no-repeat;
}

/* TODO: Cleanup "Autocomplete CSS selectors" related CSS / JS / Images */
.magicss-disable-autocomplete-selectors {
    /* background-image:
        url("chrome-extension://__MSG_@@extension_id__/ui-images/ban_edited.svg"),
        url("chrome-extension://__MSG_@@extension_id__/ui-images/unordered-list_edited.svg"); */
    background-image:
        url("../../ui-images/ban_edited.svg"),
        url("../../ui-images/unordered-list_edited.svg") !important;
    background-position: 14px 10px, 7px 7px !important;
    background-size: 12px, 14px !important;
}
.li-magicss-disable-autocomplete-selectors {
    display: none;
}
.tooltipster-autocomplete-selectors-enabled .li-magicss-disable-autocomplete-selectors {
    display: block;
}

.magicss-enable-autocomplete-selectors {
    /* background-image:
        url("chrome-extension://__MSG_@@extension_id__/ui-images/unordered-list_edited.svg"); */
    background-image:
        url("../../ui-images/unordered-list_edited.svg") !important;
    background-size: 14px !important;
    background-position: 8px 50% !important;
}
.li-magicss-enable-autocomplete-selectors {
    display: none;
}
.tooltipster-autocomplete-selectors-disabled .li-magicss-enable-autocomplete-selectors {
    display: block;
}

.magicss-cache-image-to-prevent-CSP-problem-css-linting,
.magicss-enable-css-linting {
    background-image: var(--icon-warning) !important;
    background-size: 14px !important;
    background-position: 8px 50% !important;
}
.li-magicss-enable-css-linting {
    display: none;
}
.tooltipster-css-linting-disabled .li-magicss-enable-css-linting {
    display: block;
}

.magicss-cache-image-to-prevent-CSP-problem-disable-css-linting,
.magic-css-tooltipster .tooltipster-content > ul li a.magicss-disable-css-linting {
    background-image:
        var(--icon-ban),
        var(--icon-warning) !important;
    background-position: 14px calc(50% + 5px), 8px 50% !important;
    background-size: 12px, 14px !important;
}
.li-magicss-disable-css-linting {
    display: none;
}
.tooltipster-css-linting-enabled .li-magicss-disable-css-linting {
    display: block;
}

.magic-css-tooltipster.tooltipster-base ul li a.magicss-enable-css-linting,
.magic-css-tooltipster.tooltipster-base ul li a.magicss-disable-css-linting {
    opacity: 0.35;
}

.tooltipster-selected-mode-css.magic-css-tooltipster.tooltipster-base ul li a.magicss-enable-css-linting,
.tooltipster-selected-mode-css.magic-css-tooltipster.tooltipster-base ul li a.magicss-disable-css-linting {
    opacity: 1;
}

.magicss-cache-image-to-prevent-CSP-problem-hide-line-numbers,
.magic-css-tooltipster .tooltipster-content > ul li a.magicss-hide-line-numbers {
    background-image:
        var(--icon-ban),
        var(--icon-hash) !important;
    background-position: 14px calc(50% + 5px), 9px 50% !important;
    background-size: 12px, 12px !important;
}
.li-magicss-hide-line-numbers {
    display: none;
}
.tooltipster-line-numbers-enabled .li-magicss-hide-line-numbers {
    display: block;
}

.magicss-cache-image-to-prevent-CSP-problem-show-line-numbers,
.magicss-show-line-numbers {
    background-image: var(--icon-hash) !important;
    background-position: 9px 50% !important;
    background-size: 12px !important;
}
.li-magicss-show-line-numbers {
    display: none;
}
.tooltipster-line-numbers-disabled .li-magicss-show-line-numbers {
    display: block;
}

.magicss-minify {
    background-image: var(--icon-compress) !important;
}

.magicss-tweet {
    background-image: var(--logo-twitter) !important;
}

.magicss-share-on-facebook {
    background-image: var(--logo-facebook) !important;
}

.magicss-email {
    background-image: url("../../ui-images/mail_edited.svg") !important;
    background-position: 7px calc(50% + 1px) !important;
}

.get-magic-css-for-chrome {
    background-image: var(--logo-chrome-gray) !important;
}

.get-magic-css-for-edge {
    background-image: var(--logo-edge-gray) !important;
}

.get-magic-css-for-firefox {
    background-image: var(--logo-mozilla-addons-gray) !important;
}

.magicss-github-repo {
    background-image: var(--logo-github) !important;
}

.magicss-options {
    background-image: var(--icon-settings) !important;
}
/* End: More icons */

#MagiCSS-bookmarklet textarea {
    padding: 0 !important;
    padding: 4px !important;
    outline-width: 0;
    line-height: 1em;
}

#MagiCSS-bookmarklet textarea {
    -webkit-tab-size:4;
    tab-size:4;
}

#MagiCSS-bookmarklet .CodeMirror-placeholder {
    color: #aaa;
}

#MagiCSS-bookmarklet .ui-icon-gripsmall-diagonal-se {
    width: 15px !important;     /* !important is useful to avoid FOUC kind of effect when re-initializing Magic CSS */
    height: 15px !important;    /* !important is useful to avoid FOUC kind of effect when re-initializing Magic CSS */
    background-color: transparent;
}

.indicate-disabled.magicss-selected-mode-css#MagiCSS-bookmarklet .CodeMirror,
.indicate-disabled.magicss-selected-mode-less#MagiCSS-bookmarklet .CodeMirror,
.indicate-disabled.magicss-selected-mode-sass#MagiCSS-bookmarklet .CodeMirror,
.magic-css-live-css-server-is-not-connected.magicss-selected-mode-file#MagiCSS-bookmarklet .CodeMirror,
.indicate-disabled.magicss-selected-mode-css#MagiCSS-bookmarklet .ui-icon-gripsmall-diagonal-se,
.indicate-disabled.magicss-selected-mode-less#MagiCSS-bookmarklet .ui-icon-gripsmall-diagonal-se,
.indicate-disabled.magicss-selected-mode-sass#MagiCSS-bookmarklet .ui-icon-gripsmall-diagonal-se,
.magic-css-live-css-server-is-not-connected.magicss-selected-mode-file#MagiCSS-bookmarklet .ui-icon-gripsmall-diagonal-se {
    background-color: #bbb;
}
.indicate-disabled.magicss-selected-mode-css#MagiCSS-bookmarklet .CodeMirror.cm-s-ambiance,
.indicate-disabled.magicss-selected-mode-less#MagiCSS-bookmarklet .CodeMirror.cm-s-ambiance,
.indicate-disabled.magicss-selected-mode-sass#MagiCSS-bookmarklet .CodeMirror.cm-s-ambiance,
.magic-css-live-css-server-is-not-connected.magicss-selected-mode-file#MagiCSS-bookmarklet .CodeMirror.cm-s-ambiance,
.indicate-disabled.magicss-selected-mode-css#MagiCSS-bookmarklet .cm-s-ambiance .ui-icon-gripsmall-diagonal-se,
.indicate-disabled.magicss-selected-mode-less#MagiCSS-bookmarklet .cm-s-ambiance .ui-icon-gripsmall-diagonal-se,
.indicate-disabled.magicss-selected-mode-sass#MagiCSS-bookmarklet .cm-s-ambiance .ui-icon-gripsmall-diagonal-se,
.magic-css-live-css-server-is-not-connected.magicss-selected-mode-file#MagiCSS-bookmarklet .cm-s-ambiance .ui-icon-gripsmall-diagonal-se {
    background-color: #333;
}

.indicate-disabled#MagiCSS-bookmarklet .magicss-mode-css,
.indicate-disabled#MagiCSS-bookmarklet .magicss-mode-less,
.indicate-disabled#MagiCSS-bookmarklet .magicss-mode-sass {
    text-decoration: line-through;
}

/* Highlight Less/Sass syntax error line in CodeMirror */
.line-has-parsing-error-transition-effect {
    -webkit-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}
.line-has-parsing-error {
    background-color: #f9edbe;    /* If that line is already in focus, this would not get applied and hence less disturbance to the user */
}

/* CodeMirror colorpicker */
.codemirror-colorpicker {
    z-index: 2147483600 !important;
}

#MagiCSS-bookmarklet .codemirror-colorview {
    top: -1px;  /* It looks better with top: -1px; */
    vertical-align: middle;
}

html.magicss-mouse-over-dom-element,
html .magicss-mouse-over-dom-element {
    outline: 1px solid red !important;
    border-color: orange !important;
    background-color: rgba(144,238,145,0.7) !important;
    color: #111 !important;
    opacity: 0.85 !important;
    fill: red !important;   /* Helps in highlighting SVG elements */
}


/* Begin: Server connectivity UI */
.magic-css-full-page-overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    /*
        Useful while debugging. Comment it out before publishing.
        z-index: 10;
    */
}

.magic-css-full-page-contents {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
}

.magic-css-back-end-connectivity-options {
    width: 430px;
    position: fixed !important; /* Note: jQuery UI .draggable() adds "position: relative" inline. Overriding that in CSS with "position: fixed !important;" */
    z-index: 2147483647;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 10px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-size: 12px;
    box-shadow: #555 0px 0px 20px 3px;
}
@media screen and (max-width: 430px) {
    .magic-css-back-end-connectivity-options {
        width: calc(100% - 10px);
    }
}

.magic-css-back-end-connectivity-options {
    box-sizing: border-box;
}

.magic-css-back-end-connectivity-options * {
    box-sizing: inherit;
}

.magic-css-server-config-field-header {
    color: #777;
    margin-bottom: 2px;
}

.live-css-connectivity-error-message {
    margin-left: 50px;
    font-weight: bold;
    color: brown;
}
.live-css-server-client-general-error .live-css-server-client-general-error-message,
.live-css-server-client-incompatible-error .live-css-server-client-incompatible-error-message {
    display: block !important;
}
.live-css-server-client-incompatible-error .live-css-highlight-if-server-client-incompatible {
    font-weight: bold;
    background-color: #fe5;
}

.magic-css-server-config-item {
    background-color: #ddd;
    border-bottom: 1px solid #999;
    margin-bottom: 0;
    padding: 15px;

    border: 1px solid #999;
    border-bottom-width: 0;
}

.magic-css-server-config-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.magic-css-server-config-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.magic-css-server-config-item:last-child {
    border-bottom: 1px solid #999;
}

.magic-css-server-config-item input[type="number"],
.magic-css-server-config-item input[type="text"],
.magic-css-server-config-item select {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 21px;
}

.magic-css-server-config-item select {
    background-color: #fff;
}

.magic-css-server-config-item input[type="number"],
.magic-css-server-config-item input[type="text"],
.magic-css-server-config-item select {
    width: 20%
}

/* TODO: Clean up this section */
/* Begin: The following code belongs to styling related to edit file feature */
.magic-css-back-end-connectivity-options .ms-res-ctn.dropdown-menu {
    height: 58px;
    position: absolute;
    border: 1px solid #777;
    width: calc(100% - 2px);
    z-index: 10000;
    background-color: #fff;
    left: 0px;
    bottom: 30px;
}
.magic-css-back-end-connectivity-options .ms-ctn {
    padding-left: 7px;
    padding-top: 0;
    padding-bottom: 0;
}
.magic-css-back-end-connectivity-options .ms-ctn .ms-trigger .ms-trigger-ico {
    margin-top: 9px;
}
.magic-css-back-end-connectivity-options .ms-ctn-focus {
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px
}
.magic-css-back-end-connectivity-options .ms-ctn .ms-helper {
    display: none !important;
}
.magic-css-back-end-connectivity-options .ms-ctn.form-control {
    border: 1px solid #aaa;
}
/* End */

.magic-css-server-connectivity-status {
    width: 16px;
    height: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
}
@keyframes magic-css-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.magic-css-server-connectivity-status.connecting {
    border: 3px solid rgba(150,150,150,1);
    border-radius: 50%;
    border-left: 3px solid rgba(0,0,0,1);
    animation: magic-css-rotate 1s infinite linear;
}
.magic-css-server-connectivity-status.connected {
    background-image: url("../../ui-images/icon-shiny-check-green.svg") !important;
}

.magic-css-server-connectivity-status.disconnected {
    background-image: url("../../ui-images/warning-circle_edited.svg") !important;
}

/* Begin: General purpose CSS */
.magic-css-ui {
    word-wrap: break-word;
}
.magic-css-ui input:invalid {
    border-color: rgba(255, 0, 0, 0.7);
    outline-color: rgba(255, 0, 0, 0.5);
}

.magic-css-tooltipster {
    box-sizing: content-box;
}
.magic-css-tooltipster * {
    box-sizing: inherit;
}
/* End */


/* Begin: Fix some general styles which might be overridden in some sites */
.magic-css-ui,
.magic-css-ui input,
.magic-css-ui input[type],
.magic-css-ui button {
    margin: 0;
    display: initial;
    line-height: initial;
    letter-spacing: initial;
    text-shadow: initial;
    text-align: left;
    font-family: sans-serif;
    font-weight: initial;
}
.magic-css-ui input[type] {
    box-sizing: inherit;
}

.magic-css-ui a {
    font-size: inherit;
}

.magic-css-ui span {
    font-size: inherit;
}

.magic-css-ui * {
    text-transform: initial;
}
/* End */

.magic-css-ui button {
    padding: 7px 12px;

    background-color: #2e8bcc;
    border: 1px solid #0c619e;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #3af;
    color: rgba(255, 255, 255, 0.95);

    font-size: 12px;
    cursor: pointer;
}
.magic-css-ui button:hover {
    background-color: rgba(68, 88, 174, 0.85);
    border-color: rgb(0, 110, 200);
    box-shadow: rgb(70, 151, 255) 0px 1px 0px 0px inset;
    color: #fff;
}
.magic-css-ui button[disabled] {
    pointer-events: none;
    background-color: #b1cbe4;
    border-color: #bcd;
    box-shadow: none;
}

.magic-css-toastr#toast-container {
    z-index: 2147483610;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-size: 12px;
}

.magic-css-toastr#toast-container > div {
    opacity: 1;
    padding: 10px 20px 10px 50px;
    background-position: 15px 10px;
    width: auto;
    max-width: 400px;
}
.magic-css-toastr#toast-container > div:hover {
    cursor: initial;
}

/* Begin: These styles would be useful when close button is enabled for the toastr */
/* Positioning */
.magic-css-toastr .toast-close-button {
    top: -4px;
    right: -10px;
}
/* Without this, the last word in the title may wrap to next line when close button is there */
.magic-css-toastr#toast-container .toast-title {
    float: left;
}
/* Since we are using float for .toast-title , we need to "clear" it for displaying long contents in ".toast-message" */
.magic-css-toastr#toast-container .toast-message {
    clear: both;
}
/* End */

/* End: Server connectivity UI */


#MagiCSS-bookmarklet .file-to-edit {
    color: #fff;
    display: inline-block;
}

#MagiCSS-bookmarklet .file-to-edit {
    float: right;
}

#MagiCSS-bookmarklet .name-of-file-being-edited {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: right;

    /* The following styles help in avoiding some flickering when this text/element is animated */
    background-color: var(--magic-css-bg-color);
    -webkit-backface-visibility: hidden;
}

#MagiCSS-bookmarklet .file-edit-status {
    margin-left: 10px;
    float: left;
}

.magicss-selected-mode-file#MagiCSS-bookmarklet .footer-for-server-mode,
.watching-css-files#MagiCSS-bookmarklet .footer-for-server-mode,
.magic-css-live-css-server-is-connected#MagiCSS-bookmarklet .footer-for-server-mode {
    display: block !important;
}


#MagiCSS-bookmarklet .file-edit-status,
#MagiCSS-bookmarklet .file-to-edit {
    display: none !important;
}

.magicss-selected-mode-file#MagiCSS-bookmarklet .file-edit-status,
.magicss-selected-mode-file#MagiCSS-bookmarklet .file-to-edit {
    display: block !important;
}


#MagiCSS-bookmarklet .live-css-server-status {
    background-image: var(--small-settings-icon) !important;

    width: 12px;
    height: 12px;
    background-size: contain;
    margin-top: 1px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}

.magic-css-full-page-overlay {
    background-color: rgba(0,0,0,0.5);
    -pointer-events: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -z-index: 2147483646;
    z-index: 2147483647;
}

.magic-css-full-page-contents {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
}

.magic-css-edit-file-options {
    min-width: 300px;
    width: 75%;
    position: fixed !important; /* Note: jQuery UI .draggable() adds "position: relative" inline. Overriding that in CSS with "position: fixed !important;" */
    -z-index: 2147483646;
    z-index: 2147483647;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 10px;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    font-size: 12px;
}

.magic-css-edit-file-options {
    box-sizing: border-box;
}

.magic-css-edit-file-options * {
    box-sizing: inherit;
}

.magic-css-file-field-header {
    color: #777;
    margin-bottom: 2px;
    font-size: 13px;
    margin-bottom: 5px;
}

/*
.magic-css-row {
	clear: both;
	margin-top: 7px;
}

.magic-css-row-item-1 {
	float: left;
	width: 125px;
	text-align: right;
}
.magic-css-row-item-2 {
    margin-left: 135px;
}

.magic-css-row input {
	padding-left: 3px;
}

.magic-css-row input:invalid {
	border-color: #e81a1a;
	border-style: solid;
}

.magic-css-row .link-tag-to-refresh select {
    width: 300px;
}
/* */
.magic-css-file-config-item {
    background-color: #ddd;
    border-bottom: 1px solid #999;
    margin-bottom: 0;
    padding: 10px;

    border: 1px solid #999;
    border-bottom-width: 0;
}

.magic-css-file-config-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.magic-css-file-config-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.magic-css-file-config-item:last-child {
    border-bottom: 1px solid #999;
}

.magic-css-file-config-item input[type="number"],
.magic-css-file-config-item input[type="text"],
.magic-css-file-config-item select {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 21px;
}

.magic-css-file-config-item select {
    background-color: #fff;
}

.magic-css-edit-file-options .ms-res-ctn.dropdown-menu {
    height: 58px;
    position: absolute;
    outline: 1px solid #777;
    z-index: 10000;
    background-color: #fff;
    left: 0px;
    max-height: calc(90vh - 100px);
}
.magic-css-edit-file-options .ms-ctn {
    padding-left: 7px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
}
.magic-css-edit-file-options .ms-ctn .ms-trigger .ms-trigger-ico {
    margin-top: 9px;
}
.magic-css-edit-file-options .ms-ctn-focus {
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px
}
.magic-css-edit-file-options .ms-ctn .ms-helper {
    display: none !important;
}
.magic-css-edit-file-options .ms-ctn.form-control {
    border: 1px solid #aaa;
}
.magic-css-edit-file-options .ms-ctn .ms-sel-ctn {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
}
.magic-css-edit-file-options .ms-ctn .ms-trigger {
    padding-top: 5px;
}
.magic-css-edit-file-options .ms-ctn .ms-trigger:hover {
    right: 0;
    width: 25px;
}
.magic-css-edit-file-options .ms-ctn .ms-sel-item {
    color: #000;
    background-color: #fff;
    border: none;
}
.magic-css-edit-file-options .ms-ctn .ms-sel-item {
    line-height: 1.6 !important; /* Required for Firefox */
}

.magic-css-edit-file-options .ms-ctn .ms-res-ctn .ms-res-item {
    padding-left: 12px;
    padding-right: 12px;
}

.magic-css-edit-file-options .ms-sel-item + input {
    /*
    Used to avoid showing the <input> element and hence the cursor.
    Otherwise, the users may get a feeling that they can type multiple
    file names to edit.
    */
    opacity: 0;
}

.magic-css-edit-file-options .ms-sel-ctn .ms-sel-item .ms-close-btn {
    background-image: none;
    margin: 0;
    margin-left: 5px;
    width: 25px;
    height: 20px;
}
.magic-css-edit-file-options .ms-sel-ctn .ms-sel-item .ms-close-btn:before {
    font-family: monospace !important;
    content: '×';
    font-weight: bold;
    display: block;
    padding-left: 5px;
    font-size: 16px;
    color: #aaa;
}
.magic-css-edit-file-options .ms-sel-ctn .ms-sel-item .ms-close-btn:hover:before {
    color: #333;
}

#file-suggestion-input {
    height: 22px;
    line-height: 22px;
}

/* Begin: Dark theme support */
#MagiCSS-bookmarklet .CodeMirror.cm-s-ambiance {
    background-color: #202020;
}

#MagiCSS-bookmarklet .cm-s-ambiance ::-webkit-scrollbar {
    background: rgba(68, 68, 68, 0.9);
}
#MagiCSS-bookmarklet .cm-s-ambiance ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.6);
    box-shadow: inset 0 0 6px rgb(92, 91, 91);
}

#MagiCSS-bookmarklet .cm-s-ambiance .ui-icon {
    background-color: transparent;
}

#MagiCSS-bookmarklet .cm-s-ambiance .CodeMirror-scrollbar-filler {
    background-color: #202020;
}
html .cm-s-ambiance.CodeMirror-hints {
    background-color: #222;
}
html .cm-s-ambiance .CodeMirror-hint {
    color: #fff;
}
html .cm-s-ambiance.CodeMirror-hints .CodeMirror-hint:hover {
    background-color: #444;
}

/* https://github.com/webextensions/live-css-editor/issues/45#issuecomment-855552183 */
#MagiCSS-bookmarklet .CodeMirror.cm-s-ambiance,
#MagiCSS-bookmarklet .CodeMirror.cm-s-ambiance .CodeMirror-gutters {
    box-shadow: unset !important;
}

/* https://github.com/webextensions/live-css-editor/issues/45#issuecomment-855552183 */
#MagiCSS-bookmarklet .CodeMirror.cm-s-ambiance .CodeMirror-linenumber {
    color: #808080 !important;
}

/* End: Dark theme support */

/*
    Begin: Site-specific / CSS-style-specific fixes
    (where sites over-ride some default styles in an unexpected manner)
    (these styles would be non-essential for most of the sites)
*/

#MagiCSS-bookmarklet .CodeMirror {
    font-family: monospace;
}

/* https://dev.to/ */
#MagiCSS-bookmarklet .CodeMirror {
    padding: 0;
}

#topCenterAlertNote {
    line-height: initial;
}

.magic-css-container {
    text-shadow: none;
}

#topCenterAlertNote,
#MagiCSS-bookmarklet,
.CodeMirror-hints,
.magic-css-tooltipster,
.magic-css-ui {
    direction: ltr;                 /* Use left-to-right direction for all sites */
    -webkit-text-stroke-width: 0;   /* https://www.digit.in */
}


/* https://www.accuweather.com */
/*
.CodeMirror span {
    font-family: monospace;
}
/* */
/* Potential fix for https://github.com/webextensions/live-css-editor/issues/41 */
#MagiCSS-bookmarklet .CodeMirror span {
    font-family: monospace, "Courier New" !important;

    /*
        https://github.com/webextensions/live-css-editor/issues/138 - Observations while debugging:
            If we use the selector like ".CodeMirror span", then that seems to trigger a weird bug that the font-size of
            the text (code) which is marked as inherit in the pre-existing CodeMirror instance changes when the
            font-family is set in this manner (`monospace, "Courier New"` font stack). A style with just `monospace`
            font wouldn't trigger this issue.

            Using the CSS selector `#MagiCSS-bookmarklet .CodeMirror span` to bypass/fix this issue reported on GitHub.

            It might be a browser/specifications bug which seems to be affecting Chrome as well as
            Firefox (reproduced/tested in slightly different manner for Firefox). Some other web developer has also
            faced a similar issue elsewhere for the Firefox browser
            (https://stackoverflow.com/questions/25060859/why-does-changing-the-font-family-change-the-font-size),
            though the developer noted that it was not reproducible for Chrome 34 in that case.
    */
}

/* Show cursors if the CSS contains style like: div { overflow: hidden } */
.CodeMirror-cursors {
    overflow: initial !important;
}

/* Show selection if the CSS contains style like: div { overflow: hidden } */
.CodeMirror-lines > div[role=presentation] > div[style]:not([class]) {
    overflow: initial;
}

/* Show "alertNote" if the CSS contains style like: div { overflow: hidden } */
#topCenterAlertNote > div {
    overflow: initial !important;
}

/* https://www.agegeek.com/ - br is marked as display: none in this site. This causes minor layout issue in live-css settings popup dialog. */
.magic-css-ui br {
    display: initial;
}

/* http://cssbeautify.com/ - Without this style, a scrollbar might appear when the size (height) of CodeMirror is increased */
#MagiCSS-bookmarklet .CodeMirror-scroll {
    height: 100%;
}

/* https://code.visualstudio.com/ */
/* https://jquery.com/ */
#MagiCSS-bookmarklet .CodeMirror pre {
    font-family: inherit !important;
}

/* https://developer.chrome.com/home */
#MagiCSS-bookmarklet .CodeMirror pre {
    box-shadow: none;
}

/* https://assets.ctl.io/chi/3.0.0/getting-started/ - Fix for too much whitespace */
#MagiCSS-bookmarklet .CodeMirror pre {
    padding: 0 4px;
    margin: 0;
}

/* https://assets.ctl.io/chi/3.0.0/getting-started/ - Fix for selection background not showing up */
#MagiCSS-bookmarklet .CodeMirror pre {
    background-color: transparent;
}

#MagiCSS-bookmarklet .CodeMirror pre[class]::before {
    display: none;                      /* https://meyerweb.com/ */
}

/* http://www.phpied.com/cssmin-js/ */
#MagiCSS-bookmarklet .more-icons {
    background-repeat: no-repeat !important;
}

#MagiCSS-bookmarklet .CodeMirror {
    line-height: 1.34 !important;
}

.CodeMirror-hints .CodeMirror-hint:hover {
    background-color: #ccc;
}

/* https://jsfiddle.net */
#MagiCSS-bookmarklet .CodeMirror {
    margin: 0;
    background-color: #fff;
}
#MagiCSS-bookmarklet .CodeMirror-selected {
    background-color: rgba(128, 128, 128, 0.25);
}
.indicate-disabled.magicss-selected-mode-css#MagiCSS-bookmarklet .CodeMirror-selected,
.indicate-disabled.magicss-selected-mode-less#MagiCSS-bookmarklet .CodeMirror-selected,
.indicate-disabled.magicss-selected-mode-sass#MagiCSS-bookmarklet .CodeMirror-selected,
.magic-css-live-css-server-is-not-connected.magicss-selected-mode-file#MagiCSS-bookmarklet .CodeMirror-selected {
    background-color: #eee;
}
.indicate-disabled.magicss-selected-mode-css#MagiCSS-bookmarklet .cm-s-ambiance .CodeMirror-selected,
.indicate-disabled.magicss-selected-mode-less#MagiCSS-bookmarklet .cm-s-ambiance .CodeMirror-selected,
.indicate-disabled.magicss-selected-mode-sass#MagiCSS-bookmarklet .cm-s-ambiance .CodeMirror-selected,
.magic-css-live-css-server-is-not-connected.magicss-selected-mode-file#MagiCSS-bookmarklet .cm-s-ambiance .CodeMirror-selected {
    background-color: #000;
}
#MagiCSS-bookmarklet .CodeMirror-cursor {
    border-left-color: #000;
}
#MagiCSS-bookmarklet .cm-s-ambiance .CodeMirror-cursor {
    border-left-color: #fff;
}

/* http://stackoverflow.com/ */
#MagiCSS-bookmarklet .CodeMirror {
    position: relative !important;
}

/* Begin: https://howlongtoread.com/ */
.magic-css-ui .toast-success {
    background-color: #51A351;
}
.magic-css-ui .toast-info {
    background-color: #2F96B4;
}
.magic-css-ui .toast-warning {
    background-color: #F89406;
}
/* End */

/* http://koimoi.com/ */
.magic-css-tooltipster .tooltipster-content ul li {
    margin: 0;
}

.magic-css-tooltipster.tooltipster-base a,
.magic-css-tooltipster.tooltipster-base a:link,
.magic-css-tooltipster.tooltipster-base a:hover {
    background-color: initial;
    margin: 0;                  /* https://www.thesnookergym.com */
}

/* http://susanhefuna.com */
.magic-css-ui,
#MagiCSS-bookmarklet .CodeMirror,
.magic-css-tooltipster.tooltipster-base {
    letter-spacing: initial;
}

/* https://www.instagram.com */
.magic-css-header,
.magic-css-header div {
    display: block;
    flex-direction: initial;
}
.magic-css-ui div {
    display: block;
}
#topCenterAlertNote > div > div {   /* For proper width and center-aligning of alertNote */
    -webkit-flex-direction: initial;
    flex-direction: initial;
}

/* http://xtremezerowaste.org.nz */
.magic-css-ui button,
.magic-css-ui button:hover,
.magic-css-ui button[disabled] {
    padding: 7px 12px;
    margin: 0;
}

/* http://smietnik.w3wg.com/ (See: https://github.com/webextensions/live-css-editor/issues/58) */
#MagiCSS-bookmarklet,
#MagiCSS-bookmarklet * {
    scroll-behavior: auto !important;
}

/* https://sass-lang.com/ */
.magicss-rate-on-webstore a {
    border: none;
}
.magicss-rate-on-webstore a:hover {
    background: transparent;
}

/* Some other sites */
.magic-css-back-end-connectivity-options {
    color: #000;
}
.magic-css-back-end-connectivity-options a,
.magic-css-back-end-connectivity-options a:link,
.magic-css-back-end-connectivity-options a:visited {
    color: #777;
    font-weight: normal;
    text-decoration: none;
}
.magic-css-back-end-connectivity-options a:hover,
.magic-css-back-end-connectivity-options a:active {
    color: #000;
    text-decoration: underline;
    font-weight: normal;
}

/* End */

/* Begin: Login */
.magic-css-header .webextensions-login-icon-in-header {
    display: none;
}
.magicss-w-400-plus .magic-css-header .webextensions-login-icon-in-header {
    display: flex;
    align-items: center;
}

.magic-css-header .webextensions-login-icon-in-header.webextensions-connected {
    opacity: 0.5;
}
.magic-css-header .webextensions-login-icon-in-header.webextensions-connected:hover {
    opacity: unset;
}

.magic-css-container:not(.magicss-w-400-plus) .show-for-w-400-plus {
    display: none;
}

.webextensions-login-icon-in-header a {
    color: yellow !important;
    text-decoration: none;
    margin-left: 10px;
    display: block;
    width: 14px;
    height: 14px;
    margin-top: -2px;

    background-image: url("../../ui-images/icon-login_edited.svg") !important;
    background-size: contain;
    background-repeat: no-repeat;

    filter: grayscale(1);
}
.webextensions-login-icon-in-header a:hover {
    filter: none;
}
/* End: Login */


/* Begin: Command palette */
.magicss-command-palette-root {
    display: none !important;
}

.magicss-command-palette-overlay {
    z-index: 2147483648;
}

/* Note: Somehow, the default box-sizing for some of the elements (eg: main input box) for 'react-command-palette' is
         'content-box' in external editor, while it is 'border-box' for editor inside a normal webpage */
/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
.magicss-command-palette-overlay *,
.magicss-command-palette-overlay ::before,
.magicss-command-palette-overlay ::after {
    box-sizing: inherit;
}
.magicss-command-palette-overlay {
    box-sizing: border-box;
}

.magicss-command-palette-overlay .atom-suggestion {
    padding: 7px 10px;
    color: #ccc;
}

.magicss-command-palette-overlay .atom-modal {
    max-width: 605px;
    width: calc(100% - 25vw);
}

.magicss-command-palette-overlay .atom-input {
    max-width: 605px;
    width: calc(100%);
}

.magicss-command-palette-overlay .magicss-palette-header {
    display: none;
}
@media (min-width: 600px) {
    .magicss-command-palette-overlay .magicss-palette-header {
        display: unset;
    }
}

.magicss-command-palette-overlay {
    --modal-gap-from-top: 10vh;
}

.magicss-command-palette-overlay .atom-modal {
    top: var(--modal-gap-from-top);
}
.magicss-command-palette-overlay .atom-suggestionsContainerOpen {
    max-height: 50px;
    max-height: calc(
        100vh -
        var(--modal-gap-from-top) -
        var(--modal-gap-from-top) -
        64px
    ); /* 64px is the height of elements and whitespace apart from the list inside the suggestions box */
}

/* Reference: https://github.com/asabaylus/react-command-palette/issues/257#issuecomment-549096188 */
.magicss-command-palette-overlay .atom-suggestionsContainerOpen {
    overflow: auto;
}
.magicss-command-palette-overlay .atom-suggestionsContainerOpen::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.15);
    width: 10px;
}
.magicss-command-palette-overlay .atom-suggestionsContainerOpen::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 2px rgb(91, 91, 91);
}

.magicss-command-palette-overlay .atom-suggestion b {
    font-weight: 100;
}

.magicss-command-palette-overlay .magicss-palette-new {
    font-weight: bold !important;
    font-size: 9px !important;
    margin-left: 10px !important;
    background-color: #222 !important;
    padding: 4px 6px 0px 6px !important;
    margin-top: -2px !important;
    height: 18px !important;
    letter-spacing: 0.5px;
    border-radius: 4px;
}
/* End: Command palette */

/* Begin: Generic (not targeting specific components via CSS selector) fixes */

.magicss-base-element {
    text-align: left;    /* https://www.phpbb.com/ */
}

.magicss-base-element a {
    /* Without this style, there were minor pixel level differences in text rendering on Chrome for a particular anchor
       tag in https://www.phpbb.com/ and notably, it didn't affect all possible anchor elements as such */
    unicode-bidi: unset; /* https://www.phpbb.com/ */

    /* Without this style, the transition effect may take a little time, which can cause some puppeteer screenshots to
       be different across sites. That can be handled by adding a delay when taking the puppeter screenshots or by
       removing the transition delay (transition-duration) as done here, which apparently is also better in terms of UX.
    */
    transition-duration: unset !important; /* https://visualstudio.microsoft.com/ */

    padding: 0 !important; /* https://www.smashingmagazine.com/ */
}

.magicss-base-element a:hover,
.magicss-base-element a:focus {
    opacity: 1 !important;       /* https://css-tricks.com/ */
    outline-width: 0 !important; /* https://moderncss.dev/ */
}

.magicss-base-element .MuiTypography-h6 {
    font-size: 20px;     /* https://www.sitepoint.com/ */
}

.magicss-base-element .MuiButton-root:focus {
    outline-width: 0 !important; /* https://www.smashingmagazine.com/ */
}

/* End: Generic (not targeting specific components via CSS selector) fixes */


/* Begin: Command palette fixes useful for some sites */

.magicss-command-palette-overlay {
    line-height: 1.2;               /* https://css-tricks.com/ */
    direction: ltr;                 /* https://www.aparat.com/ */
}

.magicss-command-palette-overlay div {
    flex-direction: unset;          /* https://www.instagram.com/ */
    display: block;                 /* https://www.instagram.com/ */
}

.magicss-command-palette-overlay .atom-container * {
    /* https://code.visualstudio.com/ */
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
}

.magicss-command-palette-overlay .atom-input {
    /* https://www.mozilla.org/en-US/ */
    line-height: normal;

    /* https://www.google.com/chrome/ */
    outline-style: unset;

    /* https://materializecss.com/ */
    box-sizing: border-box !important;

    /* https://css-tricks.com/ */
    /* https://materializecss.com/ */
    padding: 6px !important;

    /* https://www.smashingmagazine.com/ */
    /* https://materializecss.com/ */
    border-radius: 4px !important;

    /* https://visualstudio.microsoft.com/ */
    /* https://materializecss.com/ */
    height: 32px !important;

    /* https://www.mozilla.org/en-US/ */
    /* https://materializecss.com/ */
    font-size: 14px !important;

    /* https://www.mozilla.org/en-US/ */
    /* https://materializecss.com/ */
    margin: 0 !important;
}

.magicss-command-palette-overlay .atom-input,
.magicss-command-palette-overlay .atom-input:focus,
.magicss-command-palette-overlay .atom-input:hover {
    box-shadow: unset !important;                      /* https://www.linkedin.com/feed/ */
}

.magicss-command-palette-overlay .atom-input[type=text] {
    /* https://css-tricks.com/ */
    /* https://www.smashingmagazine.com/ */
    font-family: Arial, sans-serif !important;

    /* https://www.vistaprint.com/ */
    min-height: unset !important;
}

html body .magicss-command-palette-overlay .atom-input {
    /* https://css-tricks.com/ */
    /* https://materializecss.com/ */
    background-color: #202634 !important;
}
html body .magicss-command-palette-overlay .atom-inputFocused:focus {
    /* https://css-tricks.com/ */
    /* https://materializecss.com/ */
    background-color: #1b1d23 !important;
}

.magicss-command-palette-overlay .atom-input {
    color: #d7dae0 !important;            /* https://www.linkedin.com/ */
}

.magicss-command-palette-overlay .atom-input {
    border: 2px solid #181a1f !important; /* https://css-tricks.com/ */
}
.magicss-command-palette-overlay .atom-inputFocused:focus {
    border: 2px solid #568af2 !important; /* https://css-tricks.com/ */
}

.magicss-command-palette-overlay .atom-suggestionsList {
    margin: 0;                              /* https://sass-lang.com/ */
}

.magicss-command-palette-overlay .atom-suggestionsList {
    font-size: 12px;                        /* https://www.sitepoint.com/ */
    line-height: unset;                     /* https://www.sitepoint.com/ */
}

.magicss-command-palette-overlay .atom-suggestion {
    line-height: unset;                     /* https://www.smashingmagazine.com/ */
    font-weight: 100;                       /* https://www.udemy.com/ */
    font-size: 12px;                        /* https://moderncss.dev/ */

    /* https://www.smashingmagazine.com/ */
    /* https://www.udemy.com/ */
    margin: 0;
}

/*
    Notes:
        * Somehow, for Chrome browser, the "::-webkit-input-placeholder" and "::-moz-placeholder" styles don't work
          together inside a single selector group (for Firefox, that works), hence they have been split.
        * The default colors are different for different browsers. #777 seems to suit well.
          Ref: https://stackoverflow.com/questions/41900143/what-is-the-default-color-and-font-for-input-placeholders/41900282#41900282
*/
.magicss-command-palette-overlay ::-webkit-input-placeholder {
    /* https://jquery.com/ */
    /* https://visualstudio.microsoft.com/ */
    color: #777 !important;

    opacity: 1 !important;        /* https://sass-lang.com/ */

    font-style: unset !important; /* https://www.vistaprint.com/ */
}
.magicss-command-palette-overlay ::-moz-placeholder {
    /* https://jquery.com/ */
    /* https://visualstudio.microsoft.com/ */
    color: #777 !important;

    opacity: 1 !important;        /* https://sass-lang.com/ */

    font-style: unset !important; /* https://www.vistaprint.com/ */
}


.magicss-command-palette-overlay .atom-suggestionsContainerOpen::-webkit-scrollbar {
    width: 10px !important;         /* https://devdocs.io/css/ */
}
.magicss-command-palette-overlay .atom-suggestionsContainerOpen::-webkit-scrollbar-track {
    display: none !important;       /* https://devdocs.io/css/ */
}
.magicss-command-palette-overlay .atom-suggestionsContainerOpen::-webkit-scrollbar-thumb {
    border-radius: 0 !important;    /* https://devdocs.io/css/ */
    border: none !important;        /* https://bing.com/covid/local/ */
}

/* End: Command palette fixes useful for some sites */


/* Begin: Toaster fixes useful for some sites */

/* https://www.naukrigulf.com/ */
.magic-css-toastr .toast-message {
    width: unset;
    background-color: unset;
    box-shadow: unset;
    margin: 0;
    padding: 0;
}

/* End: Toaster fixes useful for some sites */
