.magicss-material-ui-dialog {
    -z-index: 2147483646 !important;
    z-index: 2147483647 !important;
}

/* Begin: Generic (not targeting specific components via CSS selector) fixes */

.magicss-material-ui-dialog {
    font-size: 16px;     /* https://code.visualstudio.com/ */
}

.magicss-material-ui-dialog :global(.MuiInputBase-input) {
    color: rgba(0, 0, 0, 0.87); /* https://visualstudio.microsoft.com/ */
}

/* End: Generic (not targeting specific components via CSS selector) fixes */
