.editor-translucent-out {
    opacity: 0.4;
}
.editor-translucent-out:hover {
    opacity: 1;
}

.editor-gray-out {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.editor-gray-out:hover {
    -webkit-filter: none;
    filter: none;
}

.editor-gray-out-as-disabled {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
}

.editor-opaque-on-hover {
    opacity: 0.66;
}
.editor-opaque-on-hover:hover {
    opacity: 1;
}

.editor-icon {
    cursor: pointer;
    margin-left: 10px;
    height: 16px;
    width: 16px;
}

.editor-close {
    background-image: url("../../../ui-images/close-x_edited-yellow.svg") !important;

    background-size: 20px 20px;
    background-position: -3px -2px;
}

.editor-more-icons {
    background-image: url("../../../ui-images/plus_edited.svg") !important;
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center center;
}

/* Style the cursor for "Insert" mode */
.CodeMirror-overwrite .CodeMirror-cursor {
    width: 8px;
    background-color: rgba(25, 25, 25, 0.25);
    border-left: 0;
}
#MagiCSS-bookmarklet .cm-s-ambiance .CodeMirror-overwrite .CodeMirror-cursor {
    background-color: rgba(255, 255, 255, 0.35);
}

/* Style the brackets when cursor is placed around them */
/* Using 'html' to increase selector specificity for overriding default styles, for cases this editor is loaded as a browser extension and the webpage has its own CodeMirror (CSS) */
html div.CodeMirror span.CodeMirror-matchingbracket {
    background-color: #ccc;
    color: #000;
}
html div.CodeMirror.cm-s-ambiance span.CodeMirror-matchingbracket {
    background-color: #666;
    color: #fff;
}
html div.CodeMirror span.CodeMirror-nonmatchingbracket {
    background-color: #fbb;
    color: #f22;
}

/* When the browser is in zoom-out mode, items with 1px width may not show up under some scenarios. */
/* This code fixes the problem for most of the common cases. */
.CodeMirror-cursor {
    border-left-width: 1.49px;
}
