.editor-translucent-out {
    opacity: 0.4;
}
.editor-translucent-out:hover {
    opacity: 1;
}

.editor-icon {
    cursor: pointer;
    margin-left: 10px;
    height: 16px;
    width: 16px;
}

.editor-close {
    /* Source: http://www.iconfinder.com/icondetails/45933/16/button_cross_icon (https://www.iconfinder.com/icons/45933/download/png/16) ; https://creativecommons.org/licenses/by/3.0/ */
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAe5JREFUeNqkk89KG1EUxr+ZubnUjJaipgtNtTZKxE1AVIi4yM5tF30Hoe/iA3TnQkTBRbZFKApCAl1142CJqLR0ZUNJJpPJZP70nJvcEK0SpAPfzD3n5vedM2dujCRJ8D+XODIMGMA4aYfibdLkCKZO+kxlP5FcwRla7MytrHxcLhazMp2WT5HcbeB5gVOp5H44Dqd2RdTb217a2Mi6vi/h+6O6lu9WV7M3jsPd7ppsQJqMTVO6rgtWdn8fev1YrpskkhlmzZBuLJ8qN5tNLJfLqgw/OX4sxyaaE2G/L8/z0Gq1cLy4iA+1mjKcOzhQ+RrFpmniy9oaUqkUMpkMNDcwCIIAYRhiwraxNz2NwskJLMtSgJQSZwSr6Xa7aDca/xowHFB7Xr0OO47vwazx4W9PJpozu2xK6hCY3N1hLIqQPz29BwshULq8RJp+x5JUTHODIRpkkKbv/GYI/ra+jq+FgjJgbV5dKYMX1KHmBh1ImgFv3pZKCr4geJZiVjWfV+2e53K9LqiQ5kSnfzwjmuIY+cxT8J3g+aF35nWVYJ1rx3HQ6R1pWNd0ewu8bkdRfkYI2zYMi/8M4oF0juGq7//8FUWHh0DF4L2XwMIW8H4KKFL8asRR/vObwHOg3ACu2YA6x0S/wHMunmHzrwADAPb07huzEp/RAAAAAElFTkSuQmCC");
}

.editor-more-icons {
    /* Source: http://www.iconfinder.com/icondetails/103172/128/add_plus_icon (http://www.iconfinder.com/icons/103172/download/png/16) ; https://creativecommons.org/licenses/by/3.0/ */
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gsNFBETrRJXUQAAAENJREFUOMtjYBjs4D8SDsWmgIlSG4aBAYxoAUYq8KXUBZxU9YILFvndSOxmBgaGQ2jy50cTEgMDCwF5JwYGBmZ8AQYAZQEMOYOgsd0AAAAASUVORK5CYII=");
}

/* Style the cursor for "Insert" mode */
.CodeMirror-overwrite .CodeMirror-cursor {
    width: 8px;
    background-color: rgba(25, 25, 25, 0.25);
    border-left: 0;
}
