.editor-translucent-out {
    opacity: 0.4;
}
.editor-translucent-out:hover {
    opacity: 1;
}

.editor-gray-out {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.editor-gray-out:hover {
    -webkit-filter: none;
    filter: none;
}

.editor-gray-out-as-disabled {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
}

.editor-opaque-on-hover {
    opacity: 0.66;
}
.editor-opaque-on-hover:hover {
    opacity: 1;
}

.editor-icon {
    cursor: pointer;
    margin-left: 10px;
    height: 16px;
    width: 16px;
}

.editor-close {
    /* Source: extension/ui-images/link-external_edited-yellow.svg */
    background-image: url(
        "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4gbWVldCI+CiAgPGc+CiAgICA8cGF0aCBmaWxsLW9wYWNpdHk9Ii4zNiIgZD0iTTEwIDQuNDNsLS45My0uOTNMNi41IDYuMDcgMy45MyAzLjUgMyA0LjQzIDUuNTcgNyAzIDkuNTdsLjkzLjkzTDYuNSA3LjkzbDIuNTcgMi41Ny45My0uOTNMNy40MyA3IDEwIDQuNDN6Ii8+CiAgICA8cGF0aCBmaWxsPSIjZmNkNjRkIiBkPSJNMTAgMy45M0w5LjA3IDMgNi41IDUuNTcgMy45MyAzIDMgMy45MyA1LjU3IDYuNSAzIDkuMDdsLjkzLjkzTDYuNSA3LjQzIDkuMDcgMTBsLjkzLS45M0w3LjQzIDYuNSAxMCAzLjkzeiIvPgogIDwvZz4KPC9zdmc+Cg=="
    ) !important;

    background-size: 20px 20px;
    background-position: -3px -2px;
}

.editor-more-icons {
    /* Source: chrome-extension://__MSG_@@extension_id__/ui-images/plus_edited.svg */
    background-image: url(
        "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiBoZWlnaHQ9IjI0cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGZpbGw9IiNmY2Q2NGUiPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIyLjUsMTRIMTR2OC41YzAsMC4yNzYtMC4yMjQsMC41LTAuNSwwLjVoLTRDOS4yMjQsMjMsOSwyMi43NzYsOSwyMi41VjE0SDAuNSAgQzAuMjI0LDE0LDAsMTMuNzc2LDAsMTMuNXYtNEMwLDkuMjI0LDAuMjI0LDksMC41LDlIOVYwLjVDOSwwLjIyNCw5LjIyNCwwLDkuNSwwaDRDMTMuNzc2LDAsMTQsMC4yMjQsMTQsMC41VjloOC41ICBDMjIuNzc2LDksMjMsOS4yMjQsMjMsOS41djRDMjMsMTMuNzc2LDIyLjc3NiwxNCwyMi41LDE0eiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+"
    ) !important;
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center center;
}

/* Style the cursor for "Insert" mode */
.CodeMirror-overwrite .CodeMirror-cursor {
    width: 8px;
    background-color: rgba(25, 25, 25, 0.25);
    border-left: 0;
}

/* Style the brackets when cursor is placed around them */
/* Using 'html' to increase selector specificity for overriding default styles, for cases this editor is loaded as a browser extension and the webpage has its own CodeMirror (CSS) */
html div.CodeMirror span.CodeMirror-matchingbracket {
    background-color: #ccc;
    color: #000;
}
html div.CodeMirror.cm-s-ambiance span.CodeMirror-matchingbracket {
    background-color: #666;
    color: #fff;
}
html div.CodeMirror span.CodeMirror-nonmatchingbracket {
    background-color: #fbb;
    color: #f22;
}

/* When the browser is in zoom-out mode, items with 1px width may not show up under some scenarios. */
/* This code fixes the problem for most of the common cases. */
.CodeMirror-cursor {
    border-left-width: 1.49px;
}
