# Ignore all files

# With extension
*.*

# Without extension
# It also helps in graying out the folders in the code editor's explorer having Git integration (eg: VS Code)
*

# Don't ignore the .gitignore file
!.gitignore
