.magicCssConfirmDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.66);
}

.magicCssConfirmDialog button {
    font-size: 14px !important;
    font-family: sans-serif !important;
    cursor: pointer;
    padding: 4px 10px !important;
}

#magicCssConfirmDialogButtonOk,
#magicCssConfirmDialogButtonCancel {
    min-width: 130px;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
}

#magicCssConfirmDialogButtonOk {
    border: 2px solid #1565c0;
    background-color: #1565c0;
    color: #fff;
}
#magicCssConfirmDialogButtonOk:hover {
    background-color: #0535a0;
    border-color: #0535a0;
}

#magicCssConfirmDialogButtonCancel {
    border: 2px solid #1565c0;
    background-color: #fff;
    color: #1565c0;
}
#magicCssConfirmDialogButtonCancel:hover {
    background-color: #0535a0;
    border-color: #0535a0;
    color: #fff;
}
