html:not(.full-screen-editor) #MagiCSS-bookmarklet .CodeMirror-hscrollbar {
    right: 15px !important;
}
html:not(.full-screen-editor) #MagiCSS-bookmarklet .CodeMirror-vscrollbar {
    bottom: 0px !important;
    margin-bottom: 15px;
    padding-right: 15px;
}

html:not(.full-screen-editor) #MagiCSS-bookmarklet .codemirror-hscrollbar {
  	overflow-x: auto;
}
html:not(.full-screen-editor) #MagiCSS-bookmarklet .codemirror-vscrollbar {
  	overflow-y: auto;
}

#MagiCSS-bookmarklet {
    width: auto;
}

#MagiCSS-bookmarklet .CodeMirror-activeline-background {
    background: rgba(128, 128, 128, 0.15);
}

html .CodeMirror-hints {
    z-index: 2147483600;
}
